<!-- This is a Jinja2 Template that extends layout.html
Implements a drag & drop file upload interface for YOLOv5 detection.

Once a user image is uploaded, this code AJAX requests the image, model name
and image size to the FastAPI server's /detect endpoint. The server sends
the list of bounding boxes back, and the image + bounding boxes + labels
are rendered inside the canvas element.

Bounding box labels' height above the bounding box are adjusted to not overlap
with eachother in complicated scenes (such as a busy city street).

-->

{% extends "layout.html" %}

{% block title %} <title>YOLOv5 Drag & Drop</title> {% endblock %}

{% block header %}
<!-- Include JQuery for this page -->
<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div class="container">
            <img src="{{ url_for('video_feed') }}" width="50%">
        </div>


{% endblock %}